@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/mixins' as *;

.art-and-artist {
	@include flex-layout(column, flex-start);
	justify-content: space-between;
	padding: 4px 0px;
	height: 55px;
}

.form .info {
	@include flex-layout(column, flex-start);
	justify-content: space-between;
	height: 98px;
	font-family: 'Inter';
	flex-grow: 1;
}

.card.detailed .form {
	gap: 8px;
	padding: 32px 24px;
	width: 310px;
	height: 68px;
	background-color: $light;
	position: relative;
	bottom: 62px;
	font-family: 'Lexend Deca';
	@include form-padding(24px, 16px);

	@include media-query('desktop') {
		width: 80%;
		align-self: center;
	}
}

.form {
	@include flex-layout(row, center);
	flex-grow: 1;
	gap: 16px;

	@include media-query('desktop') {
		width: 100%;
		justify-content: space-between;
	}
}

.works-gallery {
	@include flex-layout(row, center);
	flex-wrap: wrap;
	gap: 16px;
	width: 1280px;

	@include media-query('desktop') {
		padding: 0px 50px;
		width: auto;
	}

	@include media-query('tablet') {
		padding: 0px 16px;
		width: auto;
	}
}

.card.detailed {
	@include flex-layout(column, center);
	position: relative;
	gap: 0;
	padding: 0;
	width: 387px;
	height: 100%;
	background-color: transparent;

	@include media-query('desktop') {
		width: auto;
	}
}

.card {
	@include flex-layout(row, center);
	gap: 16px;
	background-color: $light;
	padding: 16px;
	width: 384px;
	height: 98px;
	overflow: hidden;
	position: relative;

	@include media-query('desktop') {
		width: auto;
	}
}

.card.detailed .image {
	height: 444px;
	width: 100%;
	position: relative;
	object-fit: cover;
}

.card.detailed .image-container {
	height: 444px;
	width: 100%;
}

.image {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.image-container {
	width: 80px;
	height: 80px;
}

.image-gallery {
	display: flex;
	justify-content: space-between;
	width: 1280px;
	height: 514px;

	@include media-query('desktop') {
		margin: 0px 50px;
		gap: 40px;
		width: auto;
	}

	@include media-query('tablet') {
		margin: 0px 16px;
		width: auto;
	}
}

.art-and-artist .art {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	font-size: 17.5444px;
	line-height: 27px;
	letter-spacing: -0.03em;
	line-clamp: 1;
}

.art-and-artist .artist {
	margin: 0;
	color: $lightOrange;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 400;
	font-size: 15.3514px;
	line-height: 27px;
	letter-spacing: -0.01em;
	font-family: 'Inter';
	line-clamp: 1;
}

.card.detailed .art-and-artist .artist {
	font-family: 'Lexend Deca';
}

.card.detailed .art-and-artist .art {
	font-family: 'Lexend Deca';
}

.publicDomain {
	margin: 0;
	font-weight: 700;
	font-size: 15.3514px;
	line-height: 27px;
}

.card.detailed .publicDomain {
	font-family: 'Lexend Deca';
}

.favoritecard-container {
	@include flex-layout(column, center);
	gap: 80px;
	width: auto;

	@include media-query('desktop') {
		gap: 60px;
		margin: 0px 50px;
	}

	@include media-query('tablet') {
		width: auto;
		gap: 60px;
		margin: 0px 16px;
	}
}

.page-btn {
	@include font-style('Lexend Deca', 300, 18px, 24px);
	width: 30px;
	height: 30px;
	border-radius: 4px;
	cursor: pointer;
}

.page-btn.active {
	background-color: $orange;
	color: $light;
}

.pagination {
	@include flex-layout(row, center);
	gap: 14px;
	align-self: flex-end;
	align-items: center;

	@include media-query('desktop') {
		margin-right: 50px;
	}

	@include media-query('tablet') {
		align-self: center;
		margin-right: 0px;
	}
}

button:active {
	fill: $orange;
}

.card-link {
	text-decoration: none;
	color: inherit;

	@include media-query('desktop') {
		width: 100%;
	}
}
