@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/mixins' as *;
.art-container {
	display: flex;
	gap: 60px;
	flex-direction: column;
	align-items: center;
	align-self: center;
	width: 1280px;

	@include media-query('desktop') {
		flex-direction: column;
		gap: 40px;
		width: 668px;
	}

	@include media-query('tablet') {
		width: 328px;
	}
}

.art-detail {
	display: flex;
	gap: 80px;
	flex-direction: row;
	justify-content: center;
	width: 100%;

	@include media-query('desktop') {
		flex-direction: column-reverse;
		align-items: center;
		gap: 40px;
	}
}

.art-detail {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;

		@include media-query('desktop') {
			gap: 30px;
			text-align: center;
		}
	}
}

.favorite-button {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 1;
}

.image-detail {
	position: relative;

	@include media-query('desktop') {
		width: 100%;
	}
}

.image-detail img {
	width: 497px;
	height: 570px;
	object-fit: cover;

	@include media-query('desktop') {
		width: 100%;
	}
}

.artist {
	font-family: 'Lexend Deca';
	font-weight: 400;
	font-size: 24px;
	color: $lightOrange;
	line-height: 20px;

	@include media-query('desktop') {
		font-size: 20px;
	}

	@include media-query('tablet') {
		font-size: 16px;
	}
}

.art-and-artist-and-date .art {
	font-family: 'Lexend Deca';
	font-weight: 400;
	font-size: 32px;
	color: $black;
	line-height: 40px;

	@include media-query('desktop') {
		font-size: 28px;
	}

	@include media-query('tablet') {
		font-size: 24px;
	}
}

.date {
	font-family: 'Lexend Deca';
	font-weight: 700;
	font-size: 16px;
	color: $black;
	line-height: 19px;

	@include media-query('desktop') {
		font-size: 14px;
	}

	@include media-query('tablet') {
		font-size: 12px;
	}
}

.artist-and-date {
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include media-query('desktop') {
		gap: 12px;
	}

	@include media-query('tablet') {
		gap: 8px;
	}
}

.art-and-artist-and-date {
	display: flex;
	flex-direction: column;
	gap: 32px;

	@include media-query('desktop') {
		gap: 28px;
	}

	@include media-query('tablet') {
		gap: 24px;
	}
}

.overview {
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-family: 'Lexend Deca';
	font-weight: 400;
	font-size: 32px;
	color: $black;
	line-height: 40px;

	@include media-query('desktop') {
		gap: 20px;
		font-size: 28px;
	}

	@include media-query('tablet') {
		gap: 16px;
		font-size: 24px;
	}
}

.overview .info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 16px;
	line-height: 19px;

	@include media-query('desktop') {
		font-size: 14px;
		align-items: center;
		gap: 12px;
	}

	@include media-query('tablet') {
		font-size: 12px;
		gap: 8px;
	}
}

.back-button {
	width: 100%;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: $light;
	background-color: $lightOrange;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	transition:
		background-color 0.3s ease,
		transform 0.2s ease;
}

.back-button:hover {
	background-color: $orange;
}

.back-button:active {
	transform: scale(0.95);
}
