.error-boundary {
	padding: 20px;
	text-align: center;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: red;
	border-radius: 4px;
	@include font-style('Arial', 400, 16px);
}

.error-boundary h2 {
	margin-bottom: 10px;
	font-size: 24px;
}

.error-boundary p {
	font-size: 16px;
}
