@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/mixins' as *;

.footer .container {
	background: $light;
	padding: 32px 0;
	display: flex;
	justify-content: center;
	width: auto;

	@media (max-width: 1440px) {
		padding: 28px 50px;
	}

	@media (max-width: 768px) {
		padding: 24px 16px;
	}
}

footer {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1280px;
	margin: 0 auto;

	@include media-query('desktop') {
		width: 100%;
	}

	@include media-query('tablet') {
		width: 100%;
	}
}

footer .logo {
	position: absolute;
	left: 0;
	top: 0;
}
