@use '@styles/abstracts/variables' as *;
@use '@styles/abstracts/mixins' as *;

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px;
	border-radius: 16px;
	background-color: rgba($black, 0.05);
	width: auto;
	@include form-padding(50px, 16px);

	&.error {
		background-color: rgba(red, 0.05);
	}
}

.search-input {
	@include font-style('Inter', 400, 14px, 17px);
	flex-grow: 1;
}

.search-button {
	cursor: pointer;
	height: 32px;
}

.search-icon {
	width: 32px;
	height: 100%;
}

.error-message {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: 12px;
	@include font-style('Inter', 400, 12px, 17px);
	color: red;
	margin-top: 8px;
	margin-left: 16px;

	@include media-query('desktop') {
		width: auto;
		padding: 0px 50px;
	}

	@include media-query('tablet') {
		padding: 0px 16px;
	}
}

.search-group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	gap: 40px;
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: 1280px;
	align-self: center;
	@include media-query('desktop') {
		width: auto;
		padding: 0px 50px;
	}

	@include media-query('tablet') {
		padding: 0px 16px;
	}
}
