@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.cardcontainer .works-gallery {
	@include flex-layout(row, center);
	flex-wrap: wrap;
	gap: 16px;
	width: 1280px;
	@include form-padding($spacing-tablet, $spacing-mobile);

	@include media-query('tablet') {
		width: auto;
	}

	@include media-query('mobile') {
		width: auto;
	}
}
