@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$font-primary: 'Lexend Deca';
$font-secondary: 'Inter';

$font-size-h1: 64px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-h7: 12px;
$font-size-card-art: 17.54px;
$font-size-card: 15.35px;

$font-weight: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-m: 28px;
$spacing-md: 32px;
$spacing-lg: 40px;
$spacing-xl: 72px;
$spacing-xxl: 120px;

$spacing-mobile: 16px;
$spacing-tablet: 50px;

$primary: #fafafa;
$light: #ffffff;
$black: #393939;
$orange: #f17900;
$lightOrange: #e0a449;
