@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $spacing-xs;
	border-radius: 16px;
	background-color: #3939390d;
	width: auto;
	@include form-padding(margin);

	&.error {
		background-color: #ffc0c080;
	}
}

.search-input {
	@include font-style($font-secondary, $font-weight);
	font-size: $font-size-h6;
	line-height: 17px;
	flex-grow: 1;
}

.search-button {
	cursor: pointer;
	height: 32px;
}

.search-icon {
	@include size(32px, 100%);
}

.error-message {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: $font-size-h7;
	@include font-style($font-secondary, $font-weight);
	line-height: 17px;
	color: red;
	margin-top: 8px;
	margin-left: 16px;
	@include form-padding(padding);

	@include media-query('tablet') {
		width: auto;
	}
}

.search-group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	gap: $spacing-lg;
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	gap: $spacing-xs;
	width: 1280px;
	align-self: center;
	@include form-padding(padding);

	@include media-query('tablet') {
		align-self: auto;
		width: auto;
	}
}
